html
    head
        title Security test 
    body
        if checkedXss === "xssAttack"
           h1 !{toDisplay}
        else
            h1 #{toDisplay}
        form(action="/query",method="POST")
            label(for="xssAttack") Cross site scripting
            input#xssAttack(type="checkbox", name="xssAttack" value="xssAttack")
            br
            label(for="bacAttack") Broken access control
            input#bacAttack(type="checkbox", name="bacAttack" value="bacAttack")
            br
            label(for="query") Type something to enlarge
            input#query(type="text", name="query")
